---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <!-- <div class="mb-10">
  <object class="pdf" 
            data="/Resume.pdf"
height="1000" width="1000"
            ></object>
          </div> -->
  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
  <!-- </div> -->
  <div class="mt-8">
    <a class="btn" href="https://drive.google.com/file/d/11ZppRUTIN_GfzF5fUzSTWR-9PEeOZR7y/view?usp=drive_link" target="_blank">
      Link to CV</a
    >
  </div>
  <br>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Georgia Institute of Technology (Georgia Tech)"
      subtitleMain="Master of Science in Computer Science"
      subtitle="[Fall 2024] to [Spring 2026] in [Atlanta], [United States]"
      image="/GT.svg"
    />
    <TimeLineElement
      title="PES University"
      subtitleMain="Bachelor of Technology in Computer Science and Engineering"
      subtitle="[2018] to [2022] in [Bengaluru], [India]"
      image="/PES.png"
    />
    <!-- <TimeLineElement
      title="Vidya Mandir Ind. PU College"
      subtitleMain="Pre University"
      subtitle="[2016] to [2018] in [Bengaluru], [India]"
    />
    <TimeLineElement
      title="Sindhi High School"
      subtitleMain="School"
      subtitle="[2006] to [2016] in [Bengaluru], [India]"
    /> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Advanced Micro Devices (AMD)"
      subtitleMain="SDE 2, Server Performance Group"
      subtitle="[May 2022] to [June 2024] in [Bengaluru], [India]"
      image="/AMD.png"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Developed suite of tools to advance methodologies involved in
          forecasting Server CPU performance - <i
            >refer "Research" section</i
          >
        </li>
        <li>
          Engaged in post-silicon performance optimization for Zen4 server processors, Genoa and Bergamo, and the latest Zen5 processors, Turin and Turin-Dense. This work resulted in a 10-40% performance improvement across various workloads.
        </li>
        <li>
          Confgured suite of database workloads - MongoDB, Cassandra, MySQL,
          Redis, etc for maximized throughput and minimized tail latency
          scenarios. These workload configurations are used for performance
          evaluation and making performance uplift claims.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title=""
      subtitleMain="Intern, Server Performance Group"
      subtitle="[December 2021] to [May 2022] in [Bengaluru], [India]"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Conducted competitive analysis of server workloads across SoC designs and compiler variants, providing critical data to guide performance targets for next-generation SoCs.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Morgan Stanley"
      subtitleMain="Summer Technology Analyst Intern"
      subtitle="[May 2021] to [July 2021] in [Bengaluru], [India]"
      image="/MorganStanley.png"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Developed a full-stack web application that provides real-time data
          drill-down and analysis capabilities on a live backend data source on
          a simple search keyword. The algorithm identi es relationship between
          the search parameter and backend data. This information is used to
          construct dynamic database queries and service calls to various
          endpoints to consolidate data onto an interactive dashboard.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Center for Cloud Computing and Big Data, PES University"
      subtitleMain="Undergraduate Researcher and Teaching Assistant (TA)"
      subtitle="[Jun 2020] to [May 2022] in [Bengaluru], [India]"
      image="/CCBD.png"
    >
      <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
          Conducted research in the area of distributed systems, resulting in impactful work that led to a publication.
        </li>
        <li>
          Teaching Assistant for elective ”Big Data” and special topic ”Software Systems Performance” at PES University.
        </li>
        <li>
          Led a laboratory session for National Supercomputing Mission’s Computer Architecture Winter School 2021 on Linux performance monitoring tools like perf, sar, and gprof. The session aimed to demonstrate how these tools can be utilized for debugging and analyzing system performance.
        </li>
        <li>
          Worked with a team to develop a microservice application for the
          Department of Computer Science, PES University to reduce paperwork
          involved in senior year thesis evaluations. This work was presented at the student project showcase event in IEEE International
          Conference on Cloud Computing in Emerging Markets, 2020.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul> -->
</BaseLayout>
